<h1>Editing institution</h1>

<%= render "form", institution: @institution %>

<br>

<div>
  <%= link_to "Show this institution", @institution %> |
  <%= link_to "Back to institutions", institutions_path %>
</div>
