<div class="text-center min-h-15 h-15 content-middle" style="color: navy">
Seu cadsatro foi realisazodi asid! alsdjasld asdkl !
</div>

<% flash.each do |type, msg| %>
  <div class="text-center" style="color: navy">
    <%= msg %>
  </div>
<% end %>

<%= render partial: "pnas"%>
