<% flash.each do |type, msg| %>
  <div class="text-center min-h-15 h-15 content-middle text-lg text-bold" style="color: blue">
    <h2 class="bg-green-10 text-xl font-bold text-center"><%= msg %></h2>
  </div>
<% end %>

<%= render partial: "pnas"%>
