<div class="min-h-full">
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">CMO - Relógio de Oração</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8"




  <form>
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Cadastro para Relógios de Oração idependente nas igrejas locais</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Preencha seus dados para podermos catalogar as reuniões de oração da Campanha Mundial de Oração nas igrejas locais. Dessa forma podemos nos ajudar a fim de realizarmos a cada ano um Calendário mais rico para a CMO.</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2">
          <div class="sm:grid-span-2">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Igreja/Congregação/Instituição:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Nome Responsável:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Horários de oração:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Exemplo: Terças, 14h. Quartas, 10h e 15h.">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* E-mail:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Contato:</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Exemplo: (21) 99999-9999">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">* Localidade: (Cidade/UF)</label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Brasília/DF">
                </div>
              </div>
          </div>

          <div class="">
              <label for="igreja" class="block text-sm font-medium leading-6 text-gray-900">Link transmissão local: <strong>(opcional)</strong></label>
              <div class="mt-2">
                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
                  <input type="text" name="igreja" id="igreja" autocomplete="igreja" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Link do Youtube, Instagram, Zoom, etc.">
                </div>
              </div>
          </div>
        </div>
      </div>


      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-gray-900">Notificações</h2>
        <p class="mt-1 text-sm leading-6 text-gray-600">Gostaríamos de manter contato por whatsapp ou e-mail sobre os assuntos da Campanha Mundial de Oração para os próximos anos. Informe abaixo se deseja receber nossas notificações.</p>

        <div class="mt-10 space-y-10">
          <fieldset>
            <legend class="text-sm font-semibold leading-6 text-gray-900">Informe-nos como gostaría de receber nossas mensagens:</legend>
            <div class="mt-6 space-y-6">
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input checked id="comments" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                </div>
                <div class="text-sm leading-6">
                  <label for="comments" class="font-medium text-gray-900">Whatsapp</label>
                  <p class="text-gray-500">Receba as mensagens via whatsapp, através do celular informado acima no cadastro.</p>
                </div>
              </div>
              <div class="relative flex gap-x-3">
                <div class="flex h-6 items-center">
                  <input id="candidates" name="candidates" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                </div>
                <div class="text-sm leading-6">
                  <label for="candidates" class="font-medium text-gray-900">E-mail</label>
                  <p class="text-sm text-gray-500">(receba as mensagens em seu e-mail informado no cadastro acima)</p>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
  </form>

















    </div>
  </main>
</div>
