<header class="bg-white shadow h-[110px] pt-2 md:pt-1">
  <div class="mx-auto ml-[7%] px-4 sm:px-6 lg:px-8">
    <div class="flex items-center">
            <img class="h-[95px]" src="https://cmo.org.br/wp-content/uploads/2022/04/Site-logo_Prancheta-1_Prancheta-1.png" alt="Campanha Mundial de Oração (CMO)">
      <h1 class="hidden md:block md:pl-10 text-3xl font-bold tracking-tight text-gray-900">Relógio de Oração</h1>
    </div>
  </div>
</header>
